html,
body {
  height: 60%
}

body {
  background: #fff;
}

#myChart {
  cursor: crosshair
}

.skills-chart {
  text-align: center;
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
}

.skills-chart-legend {
  margin: 0 auto 15px
}

.skills-chart-canvas {
  max-width: 700px;
  margin: auto
}

.skills-chart-legend {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em
}

.skills-chart-legend:before {
  content: "";
  display: block;
  float: left;
  margin: 3px 0 0 -15px;
  height: 9px;
  width: 9px
}

.skills-chart-legend--up {
  color: #3498db
}

.skills-chart-legend--up:before {
  background: #2980b9
}

.skills-chart-legend--right {
  color: #f1c40f
}

.skills-chart-legend--right:before {
  background: #f39c12
}

.skills-chart-legend--down {
  color: #e74c3c
}

.skills-chart-legend--down:before {
  background: #c0392b
}

.skills-chart-legend--left {
  color: #2ecc71
}

.skills-chart-legend--left:before {
  background: #27ae60
}


